/*CSS GERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

.cabecalho{
    text-align: center;
}

.logo{
    color: #fff;
}


/*MENU SITE*/
header {
    background-color: #120b3b;
    padding: 10px 0; 
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    transition: background 0.3s;
}

nav ul li a:hover{
    background-color: #575757;
    border-radius: 4px;
}


@media (max-width: 768px) {
    .cabecalho {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        width: 100%;
    }

    nav ul li a {
        display: block;
        width: 100%;
    }
}


/*PAGINA COM CONTEUDO*/

main{
    color: #000000;
    width: 100%;
    text-align: center;
    background-color: #616161;
    padding: 20px;
}

.texto{
    margin-top: 50px;
}

.sobre {
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.quadrado {
    color: #fff;
    height: 200px;
    border-radius: 12px;
    width: 16%; /* Defina a largura da div como 100% */
    text-align: left; /* Centralize o conteúdo dentro da div */
    background-color: #120b3b; /* Cor de fundo apenas para visualização */
    padding: 20px; /* Adicione algum preenchimento para espaçamento interno */
    margin-top: 50px; /* Apenas para afastar a div do topo */
}


@media (max-width: 600px) {
    .quadrado {
        width: 50px;
        height: 50px;
    }
}

.nos h1, .conteudo-home h1{
    color: #ffffff;
    width: 100%;
    text-align: center;
    padding: 20px;
}

.conteudo-home{
    color: #fff;
    text-align: left; /* Centralize o conteúdo dentro da div */
    background-color: #616161; /* Cor de fundo apenas para visualização */
    padding: 50px; /* Adicione algum preenchimento para espaçamento interno */
    padding-left: 20%;
    padding-right: 20%;
}

.nos{
    color: #fff;
    text-align: left; /* Centralize o conteúdo dentro da div */
    background-color: #120b3b; /* Cor de fundo apenas para visualização */
    padding: 50px; /* Adicione algum preenchimento para espaçamento interno */
    padding-left: 20%;
    padding-right: 20%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}


/*TABELAS*/


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.child{
    background-color: #fff;
    padding: 15px;

}

.centered-table td, th{
    padding: 12px 15px; /* Espaçamento interno (padding) */
    border: 0px solid #dddddd; /* Borda das células */
}

.Listas{
    text-align: center;
    padding: 50px; 
}

th{
    background-color: #120b3b;
    color: #fff;
}

td{
    color: #fff;
    background-color: #333;
}

button{
    border: none;
    border-radius: 5px;
    padding: 7px;
    color: #fff
}

.editar{
    background-color: #120b3bd3;
}

.excluir{
    background-color: #ff5100e0;
}

.botao{
    width: 100%;
}


.login-cadastro {
    padding: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.square {
    color: #fff;
    height: 200px;
    border-radius: 12px;
    width: 40%; /* Defina a largura da div como 100% */
    text-align: left; /* Centralize o conteúdo dentro da div */
    background-color: #120b3b; /* Cor de fundo apenas para visualização */
    padding: 20px; /* Adicione algum preenchimento para espaçamento interno */
    margin-top: 50px; /* Apenas para afastar a div do topo */
}

.h1{
    color: #000000;
    width: 100%;
    text-align: center;
}